html, body{
	margin: 0 10px;
	display: block;
}

#wrapper{
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	background: rgb(36, 36, 36);
	/*max-height: 500px;*/
}

.owl-wrap .owl-item div{
	/*padding:5px;*/
	padding: 0;
	width: 100%;
	
	position: relative;
	/*max-height: 500px;*/
}

.owl-wrap .owl-item div .fa{
	color: white;
	/*content: "\f1ce";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;*/
	font-size: 3em;
	opacity: .4;
	/* ANIMATION */
	
	/* CENTER */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	margin: -3% 0 0 -3%;
	/* LAYER */
	/*z-index: 1;*/
}

.owl-wrap .owl-item img{
	max-width: 100%;
	width: auto;
	height: auto;
	max-height: 640px;
	margin: 0 auto;
	/*z-index: ;*/
}

@media screen and (min-width: 666px) and (max-width: 1005px){
	.owl-wrap .owl-item img{
		max-height: 480px;
	}
}

@media screen and (max-width: 665px){
	.owl-wrap .owl-item img{
		max-height: 320px;
	}
}

.owl-nav {
	font-size: 2.5em;
	color: white;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	/*top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	height: auto;*/
}

.owl-nav-button {
	transition: opacity 0.2s ease;
	opacity: .4;
}

.owl-nav-button:hover{
	transition: opacity 0.3s ease;
	opacity: .6;
}

.owl-prev {
	position: absolute;
	pointer-events: auto;
	left: 2%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: auto;
}

.owl-next{
	pointer-events: auto;
	position: absolute;
	right: 2%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: auto;
}

.owl-caption{
	font-family: Cambria, Georgia, serif;
	font-style: italic;
	font-size: .9em;
	background: rgb(36, 36, 36);
	color: white;
	margin-top:0;
	padding: 2%;
	line-height: 1.2em
}

@media screen and (min-width: 665px){
	.owl-caption{
		position: absolute;
		bottom: 0;
		background: rgba(36, 36, 36, .7);
		margin: 0;
	}
}

.owl-dots{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 2%;
	left: 2%;
}

.owl-dot{
	background: white;
	border-radius: 20px;
	width: 15px;
	height: 15px;
	float: left;
	clear: all;
	margin: 0 1% 1% 0;
	transition: opacity 0.2s ease;
	opacity: .2;
}

.owl-dot:hover{
	transition: opacity 0.2s ease;
	opacity: .5;
	cursor: pointer;
}

.owl-dots .active{
	opacity: .5;
}
